# My custom aliases
alias lah='ls -lah'
alias ttytter='oysttyer'
alias sl='ls'
alias ls='ls -hG --color'
alias lls='ls -lhG'
#alias ruby='ruby1.9.3'
#alias irb='irb1.9.3'
alias python='python3'
alias slrn='slrn -h news.eternal-september.org -f ~/.jnewsrc-es -i ~/.slrnrc'
alias slrn-grc='slrn -h news.grc.com -f ~/.jnewsrc-grc -i ~/.slrnrc-grc'
alias slrn-old='slrn -h nntp.olduse.net -f ~/.jnewsrc-olduse -i ~/.slrnrc-olduse'
alias bboard='ssh -t anthonyg@faeroes.sdf.org bboard'
alias com='ssh -t anthonyg@faeroes.sdf.org com'
alias remind='remind ~/.reminders'
alias mutt='mutt-sdf'
alias mutt-gmail='neomutt -F ~/Dropbox/Mail/.muttrc-gmail'
alias mutt-repub='ssh -t anthonyg@r.circumlunar.space mutt'
alias mutt-sdf='ssh -t anthonyg@mab.sdf.org mutt'
alias mutt-tilde='ssh -t anthonyg@tilde.team neomutt'
#alias mutt-csulb='mutt -F ~/.muttrc-csulb'
alias fizmo='fizmo-ncursesw'
alias emacs='emacs -nw'
alias sysupdate='sudo dnf upgrade -y'
alias weather='ansiweather -u imperial -d true'
alias ubrew='brew update && brew upgrade'
alias ma='ssh anthonyg@ma.sdf.org -D localhost:8080'
alias vim='nvim -u ~/.vimrc'
alias newsbeuter='newsboat'
alias sdf-proxy='ssh -N -p 22 -g -CfqND 9999 anthonyg@mab.sdf.org'
alias home-proxy='ssh -N -p 22 -g -CfqND 7765 anthony@obsidianbay.net'
alias htop='sudo htop'
alias ydl='youtube-dl'
alias sudo='sudo --preserve-env=HOME '
alias mpe='multipass exec primary'
alias ws='wolframscript'
alias pb='pb -c'
alias weechat='weechat -d "~/.weechat/sdf" -r "/connect sdf"'
#alias weechat-sdf='weechat -d "~/.weechat/sdf" -r "/connect sdf"'
#alias weechat-tilde='weechat -d "~/.weechat/tilde" -r "/connect tilde"'
#alias weechat-libre='weechat -d "~/.weechat/libre" -r "/connect libre"'
alias bbs='ssh -t anthonyg@r.circumlunar.space bbs'
alias dcp='docker compose pull && docker compose up -d --remove-orphans && docker image prune -f'
alias lsh='ls -lah'
alias steam='tmux new -dsmy_session "steam; exec $SHELL"'
