# My custom aliases
alias lah='ls -lah'
alias ttytter='oysttyer'
alias sl='ls'
alias ls='ls -hG --color'
alias lls='ls -lahG --color'
#alias ruby='ruby1.9.3'
#alias irb='irb1.9.3'
alias python='python3'
alias slrn='slrn -h news.eternal-september.org -f ~/.jnewsrc-es -i ~/.slrnrc'
alias slrn-grc='slrn -h news.grc.com -f ~/.jnewsrc-grc -i ~/.slrnrc-grc'
alias slrn-old='slrn -h nntp.olduse.net -f ~/.jnewsrc-olduse -i ~/.slrnrc-olduse'
alias bboard='ssh -t ma bboard'
alias com='ssh -t ma com'
alias remind='remind ~/.reminders'
alias mutt='mutt-sdf'
alias mutt-repub='ssh -t circumlunar mutt'
alias mutt-sdf='ssh -t ma mutt'
alias fizmo='fizmo-ncursesw'
alias emacs='emacs -nw'
alias sysupdate='sudo dnf upgrade -y'
alias weather='ansiweather -u imperial -d true'
alias ubrew='brew update && brew upgrade'
alias vim='nvim -u ~/.vimrc'
alias newsbeuter='newsboat'
alias htop='sudo htop'
alias youtube-dl='yt-dlp -f "bestvideo[ext=mp4]+bestaudio[ext=m4a]/mp4"'
alias ytdl='yt-dlp -f "bestvideo[ext=mp4]+bestaudio[ext=m4a]/mp4"'
alias sudo='sudo --preserve-env=HOME '
alias mpe='multipass exec primary'
alias ws='wolframscript'
alias pb='pb -c'
alias weechat='weechat -d "~/.weechat/sdf" -r "/connect sdf"'
#alias weechat-sdf='weechat -d "~/.weechat/sdf" -r "/connect sdf"'
#alias weechat-tilde='weechat -d "~/.weechat/tilde" -r "/connect tilde"'
#alias weechat-libre='weechat -d "~/.weechat/libre" -r "/connect libre"'
alias bbs='ssh -t circumlunar bbs'
alias dcp='docker compose pull && docker compose up -d --remove-orphans && docker image prune -f'
alias lsh='ls -lah'
alias steam='tmux new -dsmy_session "steam; exec $SHELL"'
