# My custom aliases
alias lah='ls -lah'
alias ttytter='oysttyer'
alias sl='ls'
alias ls='ls -hG --color'
alias lls='ls -lahG --color'
#alias ruby='ruby1.9.3'
#alias irb='irb1.9.3'
alias python='python3'
alias dosbox='dosbox --conf "./dosbox-staging.conf"'
alias slrn='slrn -h news.eternal-september.org -f ~/.jnewsrc-es -i ~/.slrnrc'
alias remind='remind ~/.reminders'
alias emacs='emacs -nw'
alias weather='ansiweather -u imperial -d true'
alias sysupdate='sudo dnf upgrade -y --refresh --exclude=filesystem\* --exclude=setup\*'
alias vim='nvim -u ~/.vimrc'
alias newsbeuter='newsboat'
alias htop='sudo htop'
alias ytdl='yt-dlp -f "bestvideo[ext=mp4]+bestaudio[ext=m4a]/mp4"'
alias sudo='sudo --preserve-env=HOME '
alias ws='wolframscript'
alias pb='pb -c'
alias bbs='ssh -t circumlunar bbs'
alias dcp='docker compose pull && docker compose up -d --remove-orphans && docker image prune -f'
alias lsh='ls -lah'
alias curl='curl -w "\n"'
alias whatsmyip='curl ifconfig.me/ip'
