urls-source "ttrss"
ttrss-url "https://wm.sdf.org/tt-rss/"
ttrss-mode multi
ttrss-login "anthonyg"
ttrss-password "PASSWORD"

# Options
#browser "firefox %u"
browser 'lynx'
notify-screen yes
notify-xterm yes
show-read-feeds no
show-read-articles no
refresh-on-startup yes
auto-reload yes
save-path ~/.newsbeuter/saved-articles
error-log ~/.newsbeuter/error.log

# Colors
color background   color247   default
color listnormal   color247   default    bold
color listfocus    color247   color24    bold
color info         color45    color235
color article      color252   color16

