# Location of the Privoxy User Manual.
user-manual /usr/share/doc/privoxy/user-manual
 
# The directory where the other configuration files are located.
confdir /etc/privoxy
  
# The directory where all logging takes place
logdir /var/log/privoxy
   
# The actions file(s) to use
actionsfile match-all.action # Actions that are applied to all sites and maybe overruled later on.
actionsfile default.action   # Main actions file
actionsfile user.action      # User customizations
    
# The filter file(s) to use
filterfile default.filter
filterfile user.filter      # User customizations
     
# The log file to use
logfile logfile
      
# The address and TCP port on which Privoxy will listen for client requests.
listen-address  localhost:8118
       
# Initial state of “toggle” status
toggle  1
        
# Whether or not the web-based toggle feature may be used
enable-remote-toggle  0
         
          
# Whether or not Privoxy recognizes special HTTP headers to change its behaviour.
enable-remote-http-toggle  0
           
# Whether or not the web-based actions file editor may be used
enable-edit-actions 1
            
# Whether the user is allowed to ignore blocks and can “go there anyway”.
enforce-blocks 0
             
# Maximum size of the buffer for content filtering.
buffer-limit 4096
              
# Through which SOCKS proxy (and optionally to which parent HTTPproxy) specific requests should be routed.
forward-socks5 / 127.0.0.1:9050 . #TOR Proxy Configuration
               
# How often Privoxy retries if a forwarded connection request fails.
forwarded-connect-retries  0
                
# Whether intercepted requests should be treated as valid.
accept-intercepted-requests 0
                 
# Whether requests to Privoxy’s CGI pages can be blocked or redirected.
allow-cgi-request-crunching 0
                  
# Whether the CGI interface should stay compatible with broken HTTP clients.
split-large-forms 0
                   
# Number of seconds after which an open connection will no longer be reused.
keep-alive-timeout 5
                     
# Number of seconds after which a socket times out if no data is received.
socket-timeout 300
                      
# The status code Privoxy returns for pages blocked with +handle-as-empty-document.
handle-as-empty-doc-returns-ok 1

# Access Lists defining networks and Ports
